:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(221, 221, 221, 0), rgba(99, 99, 99, 0.75), rgba(0, 0, 0, 0));
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7rem;
}

.heroDiv {
  margin: 1rem auto 3rem auto;
  max-width: 80%;
}

.heroDiv img {
  position: relative !important
}


.thumbnailDiv {
  margin: 1rem auto 3rem auto;
  max-width: 30%;
  position: relative;
}      

.thumbnailDiv img {
  position: relative !important
}

.specDiv {
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}

.navLink {
  display: inline-block;
  margin: 1.2rem 2rem;
}